name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Ruby ${{ matrix.ruby-version }} - ${{ matrix.os }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
        ruby-version: [2.6, 2.7, 3.0, 3.1]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@42817531497ae2ef0168458f709e451109306bd5
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Test
        run: bundle exec rake test
